<launch>

<node pkg="epuck_filter" type="epuck_filter" name="epuck_filter" output="screen">
  <remap from="odom" to="epuck_robot_0/odom" />
  <remap from="pose" to="epuck_robot_0/position" />
</node>

<node name="visu" pkg="rviz" type="rviz" output="screen" args="-d $(find epuck_filter)/viz/epuck_filter.rviz" />

<node name="replay" pkg="rosbag" type="play" output="screen" args="--delay=4 $(find epuck_filter)/resources/Test4.bag" />


</launch>
